.container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  background-color: #1e1e24;
  border-radius: 0 30px 30px 0;
}

.container__entry {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.container__entryItem {
  list-style: none;
  padding: 12px 12px;
  color: #fefefe;
}
.container__entryItem:hover {
  background-color: #474747;
  border-radius: 24px;
}
.ball,
.ballprofile {
  background-color: white;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  position: fixed;
  left: -8px;
  margin-top: 16px;
}
.ballprofile {
  margin-top: 104px;
}
.profilePic {
  border-radius: 999px;
  display: block;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  margin-top: 72px;
  border: 3px solid #1e1e24;
}
.profilePic:hover {
  border: 3px solid #ededed;
}
.halo {
  //box-shadow: 0px 0px 54px 0px #fff;
  border: 3px solid #ededed;
}
.icons {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}
.outline {
  background-color: #474747;
  border-radius: 24px;
}

@media screen and (max-width: 768px) {
  .container {
    top: unset;
    bottom: 0;
    left: 0;
    height: 72px;
    flex-direction: row;
    width: 100vw;
    border-radius: 30px 30px 0 0;
    gap: 4rem;
    justify-content: center;
  }
  .profilePic {
    margin-top: 0;
    width: 45px;
    height: 45px;
  }
  .ball {
    margin-top: 0;
  }
  .container__entry {
    flex-direction: row;
    gap: 3rem;
  }
}
